div{
    font-size: 10pt;
    padding-bottom: 6px;
}
.outputOk{
    color: #999999;
}
.outputOk b{
    font-weight: 900;
    color: #c0c0c0;
}
.outputError{
    color: #cc2222;
}
.outputError b{
    font-weight: 900;
    color: #ff5555;
}
