div {
    font-size: 10pt;
    padding-bottom: 6px;
}
.outputOk {
    color: #999999;
}
.outputOk b {
    color: #c0c0c0;
}
.outputError {
    color: #cc2222;
}
.outputError b {
    color: #ff5555;
}
.outputIDEOk {
    font-weight: bold;
    color: #498BBD;
}
.outputIDEError {
    font-weight: bold;
    color: #ff6000;
}
