
QDockWidget {
    border: none;
    color: #D0D0D0;
    background-color: #464646;
}

QDockWidget::title {
    background-color: #464646;
/*    background-color: #666666;*/
    border: none;
    padding: 2px 2px;
}

QDockWidget::close-button, QDockWidget::float-button {
    border: none;
    background-color: #464646;
/*    background-color: #666666;*/
    padding: 0px;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background: gray;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
    
}

QDockWidget > QWidget {
    border: 0px solid #464646;
}
QDockWidget > QTextEdit {
    background-color: #252525;
    color: #CCCCCC;
    font-family: Courier;
    font-style: normal;
    font-size: 12pt;
}
