QMainWindow::separator
{ 
    background-color: #464646;
    width: 1px;
    border: none;
}
QMainWindow { 
    background-color: #464646;
}
QMainWindow QDialog QFrame[frameShape="4"]  {/* QFrame HLine*/
    background-color: #888888;
    padding-top: 3px;
}
QDialog {
    background-color: #636363;
    border: none;
}
QDialog QLabel {
    color: #D0D0D0;
}
QDialog QLineEdit {
    background-color: #D0D0D0;
    color: #464646;
    border: none;
    padding: 4px;
}

QComboBox{
    font-size: 10pt;
    font-weight: 200;
    background-color: #636363;
    color: #D0D0D0;
    padding: 3px 8px;
    border: none;
}
QComboBox::down-arrow{
    background: url(:/icons/icons/widgeticons/arrow-down.png) #636363 no-repeat;
    margin: 4px 0 0 2px;

}
QComboBox::drop-down{
   border-left: 1px solid #464646;
   width:20px;
}
QComboBox::drop-down:on, QComboBox::down-arrow:on{
    background-color:#888888;
}
QComboBox QAbstractItemView {
    background-color: #636363;
    color: #D0D0D0;
    border: none;
}
QComboBox QAbstractItemView::item {
    padding:3px 5px;
    margin:0px;
}
QComboBox QAbstractItemView::item:selected {
    background-color: lightgray;
    color: #636363;
    margin:0px;
}
QDialog QComboBox {
    background-color:#464646;
}
QDialog QComboBox::drop-down {
   border-left: 1px solid #636363;
   width:20px;
}
QDialog QComboBox::down-arrow {
    background-color:#464646;
}
QDialog QPushButton {
    background-color:#464646;
    color: #D0D0D0;
    padding:6px;
    border:none;
    min-width:100px;
}
QDialog QTabWidget {
    border: none;
}
QDialog QTabWidget::tab-bar {
    border: none;
    margin-bottom: 2px;
}
QDialog QTabWidget::pane {
    border: none;
    background-color: #252525;
    color: #D0D0D0;
}
QDialog QTabBar::tab {
    border-top: 2px solid qlineargradient(spread:pad, x1:0 y1:0, x2:0 y2:1, stop:0 #252525, stop:1 #636363);
    border-left: 2px solid #282828;
    border-right: 1px solid #282828;

    background: #303030;
    color: #CCCCCC;
    padding: 5px;
}
QDialog QTabBar::tab:selected {
    background: #252525;
    color: #D0D0D0;
}
QDialog QListWidget{
    background-color: #464646;
    color: #D0D0D0;
    border: none;
}
QDialog QListWidget::item{
    padding: 2px;
}
