QToolBar {
    background: #464646;
    spacing: 0px; /* spacing between items in the tool bar */
    padding: 5px 5px;
    border: 2px solid #464646;
    border-top: 2px solid #464646;
    border-bottom: 2px solid #464646;
}

QToolBar  QToolButton {
    padding: 3px 3px;
    background: transparent;
    border-radius: 0px;
    icon-size: 20px 20px;
    border: none;
} 

QToolBar QToolButton:hover {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #636363;
}

QToolBar QToolButton:pressed {
    background: #888888;
}

QToolBar::separator { 
    background-color: qlineargradient(spread:pad, x1:0 y1:0, x2:1 y2:0, stop:0 #252525, stop:1 #636363);
    width: 2; 
    height: 30px; 
    padding: 0; 
    margin-left: 10px;
    margin-right: 10px;
}

QToolBar QComboBox{
    font-size: 10pt;
    font-weight: 200;
    background-color: #636363;
    color: #D0D0D0;
    padding: 3px 8px;
    border: none;
}
QToolBar QComboBox::down-arrow{
    background: url(:/icons/icons/widgeticons/arrow-down.png) #636363 no-repeat;
    margin: 4px 0 0 2px;

}
QToolBar QComboBox::drop-down{
   border-left: 1px solid #464646;
   width:20px;
}
QToolBar QComboBox::drop-down:on, QToolBar QComboBox::down-arrow:on{
    background-color:#888888;
}
QComboBox QAbstractItemView {
    background-color: #636363;
    color: #D0D0D0;
    border: none;
}
QAbstractItemView::item {
    padding:3px 5px;
    margin:0px;
}
QAbstractItemView::item:selected {
    background-color: lightgray;
    color: #636363;
    margin:0px;
}
