QTreeWidget {
    background-color: #252525;
}

QTreeWidget::item {
    background-color: transparent;
    color: #D0D0D0;
}

QTreeWidget::header {
    background-color: transparent;
    color: #D0D0D0;
}

QHeaderView::section {
    background-color: #464646;
    color: #D0D0D0;
    padding-left: 4px;
    border: none;
}


QTreeWidget::item:selected {
    background-color: #909090;
}

QTreeWidget::branch:has-children:!has-siblings:closed,
QTreeWidget::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(:/icons/icons/widgeticons/arrow-down.png);
        margin-top: 3px;
        margin-left: 8px;

}

QTreeWidget::branch:open:has-children:!has-siblings,
QTreeWidget::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(:/icons/icons/widgeticons/arrow-left.png);
        margin-top: 3px;
        margin-left: 8px;
}
